*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h1, 
h2{
  font-family: Lato, Helvetica, Arial, sans-serif;   
}

h1 {  
    font-size: 5.625rem; /* 90px/16px  */
}

h2 {
    font-size: 3.3125em; /* 53px/16px  */
} 
  
.main-header{
    padding-top: 220px;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
                url('../img/cover.jpeg') no-repeat center;
    background-size: cover;
    height: 750px;
}

.header-name{
    letter-spacing: .3rem;
    color: white;
    text-transform: uppercase;   
}

.header-title{
    letter-spacing: .3rem;
    margin-top: 50px;
    color: white;
    text-transform: uppercase;   
}

@media(max-width: 768px){    
    .main-header{
      max-height: 380px;
      padding: 50px 25px 0;
    }
}
